.products {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 17px 0;
  text-align: center;
}

.products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumb {
  width: 100px;
}

.products:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container-product {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-top: 20px;
  width: 40%;
  height: auto;
}

.thumbnail {
  width: 30%;
}

.btn-cart {
  height: 30px;
  margin: 10px auto;
  width: 30%;
  border: none;
  background-color: white;
  font-weight: 700;
  text-decoration: underline;
}

.bi-cart {
  background-color:rgba(255, 255, 255, 0.61);
  padding: 5%;
  border-radius: 50%;
}

navigator {
  display: flex;
  background-color: rgb(245, 237, 223);
  justify-content: space-around;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(https://img.ibxk.com.br/2018/08/30/30111404852171.jpg?w=1120&h=420&mode=crop&scale=both);
  border-bottom: black solid 1px;
  padding: 5%;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

aside {
  display: inline-block;
  /* background-color: rgb(192, 183, 183);
  max-height: 10ve; */
  margin-left: 2%;
  margin-top: 1%;
  padding: 2%;
  border-right: solid black 1px;
}

.categories-btn {
  display: flex;
  margin-left: 5%;
  max-width: 100%;
  border: none;
  background: none;
  margin-top: 5%;
}

.alert-noProduct {
  margin-left: 10%;
  margin-top: 20%;
}

.navigator-home {
  text-decoration: none;
}

.cart-icon-link {
  display: flex;
  margin-top: 3%;
  margin-right: 10%;
}

.cart-link {
  display: flex;
  text-decoration: none;
}

.cart-number {
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.61);
  border: black solid 1px;
}

.product-title {
  font-style: italic;
  font-weight: 700;
}

.header-item {
  background-color: rgba(255, 255, 255, 2);
}

